/.idea/
/03-kubernetes-controllers/06-cronJobs/Scale-down/
/03-kubernetes-controllers/06-cronJobs/Scale-up/
/certified-kubernetes-administrator-course/
/kubernetes-administrator-certification/
/ngx-admin/
/Quizzes/
/spring-petclinic/
